.health {
  width: 100%;
}

.health .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

@media (max-width: 1200px) {
  .health {
    padding-top: 20px;
  }
  .health .main {
    padding: 30px;
  }
}