.guides {
  width: 100%;
}

.guides .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.guides th {
  text-align: left;
  padding-bottom: 0.5rem;
}

.guides ul {
  margin-top: 1.5rem;
}

.guides, .guides ul {
  list-style-type: disclosure-closed;
}

.guides hr {
  margin: 2rem 0;
}

@media (max-width: 1200px) {
  .guides {
    padding-top: 20px;
  }
  .guides .main {
    padding: 30px;
  }
}