.sitemapContainer {
  max-height: 16rem;
  color: var(--white);
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.06);
  overflow-y: auto;
  background-color: var(--grey);
  border: solid 1px var(--black);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1) inset;
  color: var(--black);
}

.changelogContainer {
  max-height: 10rem;
  color: var(--white);
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.06);
  overflow-y: auto;
  background-color: var(--grey);
  border: solid 1px var(--black);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1) inset;
  color: var(--black);
}

.changelogList {
  margin-bottom: -1rem;
  padding-left: 1.2em;
}
.about {
  width: 100%;
}

.about .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.about .strong {
  font-family: var(--font-special-gothic-expanded-one);
  font-size: 1rem;
}

.sitemap, .sitemap ul {
  list-style-type: disclosure-closed;
}

.about li {
  padding-bottom: 10px;
}

.about li ul {
  padding-top: 10px;
}

.about li ul li:last-child {
  padding-bottom: 0;
}

@media (max-width: 1200px) {
  .about {
    padding-top: 20px;
  }
  .about .main {
    padding: 30px;
  }
}