.start {
  width: 100%;
}

.start .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.actionPlanContainer {
  overflow-y: auto;
  background-color: var(--grey);
  border: solid 1px var(--black);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1) inset;
  color: var(--black);
  padding: 1rem 2rem;
  padding-bottom: 0.75rem;
  font-family: inherit;
  font-size: 1.1rem;
}

.start .strong {
  font-family: var(--font-special-gothic-expanded-one);
}

.start div .startList {
  padding: 0;
  list-style-type: none;
}

.start div .startList li {
  display: flex;
  gap: 0.85rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.start div ol li {
  padding-left: 10px;
  padding-bottom: 10px;
}

.start input, .start label {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .start {
    padding-top: 20px;
  }
  .start .main {
    padding: 30px;
  }
}