.resources {
  width: 100%;
}

.resources .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.resources th {
  text-align: left;
  padding-bottom: 0.5rem;
}

.resources tbody tr{
  padding-top: 1rem;
  line-height: 2rem;
}

.resources ul {
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (max-width: 1200px) {
  .resources {
    padding-top: 20px;
  }
  .resources .main {
    padding: 30px;
  }
  .resources ul {
    font-size: 1.1rem;
    line-height: 1.65rem;
  }
}