.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding: 20px 0;
  font-size: 0.85rem;
  color: var(--white);
  padding-bottom: 50px;
}

.footer * {
  font-family: var(--font-special-gothic-expanded-one);
}

.footer a:hover {
  color: var(--color2);
}

@media (max-width: 1200px) {
  .footer {
    padding: 35px 5vw;
    padding-top: 20px;
  }
}