.footer {
  background: var(--dark3);
  color: var(--white);
  padding: 48px 0 0 0;
  font-size: 1.1rem;
  font-family: var(--font-special-gothic);
}

.footerInner {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
  padding: 0 40px;
}

.footerLogo {
  font-size: 2.25rem;
  font-family: var(--font-special-gothic-expanded-one);
  color: var(--color2);
  font-weight: 700;
  margin-bottom: 16px;
}

.footerTitle {
  font-family: var(--font-special-gothic-expanded-one);
  font-weight: 600;
  margin-bottom: 18px;
  color: var(--color2);
  letter-spacing: 0.5px;
}

.footerContact {
  margin-bottom: 24px;
}

.footerContact a:hover {
  color: var(--color1);
}

.footerLinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footerLinks li {
  margin-bottom: 10px;
}

.footerLinks a {
  text-decoration: none;
  color: #fff;
}

.footerLinks a:hover {
  color: var(--color2);
  text-decoration: underline;
}

.footerCol {
  flex: 1 1 22%;
}

.footerCol:nth-of-type(2), .footerCol:nth-of-type(3), .footerCol:nth-of-type(4) {
  margin-top: 50px;
}

.footerCol:nth-of-type(2), .footerCol:nth-of-type(3) {
  max-width: 15%;
  display: block;
}

.footerCol:nth-of-type(3) .footerLinks, .footerCol:nth-of-type(4) .footerLinks {
  text-align: right;
}

.footerBottom {
  margin: 0 auto;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #fff;
}

.footerBottomLinks {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.footerBottom a {
  color: #fff;
  text-decoration: none;
}

.footerBottom a:hover {
  color: var(--color2);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .footerInner {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
  }
  .footerLogo {
    margin-bottom: 35px;
  }
  .footerCol {
    min-width: 220px;
    margin: 0 !important;
    flex: none;
  }
  .footerCol:nth-of-type(4) {
    margin-bottom: 1rem !important;
    display: block !important;
  }
  .footerCol:nth-of-type(4) img {
    display: none;
  }
  .footerCol .footerLinks {
    margin: 0 !important;
    text-align: left !important;
  }
  .footerBottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 12px;
    padding: 18px 16px 24px 16px;
  }
}