.nav, .subNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.nav {
  padding-bottom: 1px;
}

.navContainer {
  display: flex;
}

.nav li a {
  font-family: var(--font-special-gothic-expanded-one);
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 30px;
}

.dropdown:hover .subNav, .subNav:hover {
  display: flex;
}

.nav li:hover {
  background-color: var(--dark1);
}

.nav li a img {
  padding-bottom: 1px;
  filter: invert(1);
}

.subNav {
  background-color: var(--semiblack);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  padding: 0;
}

.subNav li {
  padding: 0;
  width: 100%;
  font-style: normal;
}

.subNav li a {
  justify-content: flex-start;
  color: var(--white);
}

.subNav li:hover {
  background-color: var(--dark2);
}

@media (max-width: 1200px) {
  .navContainer {
    display: none;
  }
  .navContainer.mobileOpen {
    display: flex;
    position: absolute;
    background: var(--semiblack);
    top: 80px;
    left: 0;
    width: 100%;
  }
  .dropdown:hover .subNav, .subNav:hover {
    display: none;
  }
  .navContainer.mobileOpen .nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 100%;
  }
  .navContainer.mobileOpen li {
    width: 100%;
  }
  .navContainer.mobileOpen li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .nav li a {
    flex-direction: row-reverse;
    padding-left: 20px;
    font-size: 1.1rem;
  }
  .desktopOnly {
    display: none;
  }
}