.workshops {
  width: 100%;
}

.workshops .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.workshops .strong {
  font-family: var(--font-special-gothic-expanded-one);
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .workshops {
    padding-top: 20px;
  }
  .workshops .main {
    padding: 30px;
  }
}