.cra {
  width: 100%;
}

.cra .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

@media (max-width: 1200px) {
  .cra {
    padding-top: 20px;
  }
  .cra .main {
    padding: 40px;
  }
}