.downloads h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin: 0;
  color: var(--black);
  text-transform: none;
}
.downloads {
  width: 100%;
}

.downloads .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

@media (max-width: 1200px) {
  .downloads {
    padding-top: 20px;
  }
  .downloads .main {
    padding: 30px;
  }
}