.health {
  width: 100%;
}

.health .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.health .content ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

.health .content ul:last-of-type {
  margin-bottom: 0;
}

.health .content ul li {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  text-decoration: underline;
  transition: all 0.3s;
  color: var(--black);
}

@media (max-whealthth: 1200px) {
  .health {
    padding-top: 20px;
  }
  .health .main {
    padding: 30px;
  }
}